.graphField
  width: 100vw
  height: 100vh

.react-flow
  background: #dadada

.react-flow__node
  border: none
  border-radius: 40% 0 40% 0
  width: 100px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  background: rgba(64, 112, 114, 0.4)

